<aside class="comments">
    <header class="comments-header">
        <h3>
            <span class="fa fa-comments"></span>
            Comments
        </h3>
    </header>
    <ul class="comments-list">
        <li class="comment-item" ng-repeat="comment in postdetail.comments">
            <span class="fa fa-user"></span>
            <span class="comment-author">{{ comment.email }}</span>
            <p class="comment-body">
                {{ comment.body }}
            </p>
        </li>
    </ul>
</aside>
